.header{
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 4em;
    height: 480px; //for small device don't suport vh
    height: 100vh;
    width: auto;
    z-index: 0;
    filter: drop-shadow(0px 0px 15px rgb(100, 100, 100));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    &::before{
        content: '';
        position: absolute;
        display: block;
        overflow-y: hidden;
    }

    .heading{
        padding: 2em;
        text-shadow: 2px 2px 4px #fff;
        color: #222;
    }
}


.boxes{
    @include size(500px);
    background-color: red;

}

.logo{
 

    position: relative;
    &__link{
        text-decoration: none;
        line-height: 45px;
        display: block;
        padding: 5px;
        color: #222;
        > img{
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}


 

    /* Advanced Checkbox Hack */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }
    
    #h-menu {
      position: absolute;
      left: -999px;
    }
    

    
    

    /* custom-dropdown */
nav[role="navigation"] {
    @include flex();    
    position:relative;
    width: 100%;
    background-color: rgba(253, 253, 253, .8);
        

        
    ul{
        @include flex();
        > li {
            text-align:center;
            padding: 1em 2em;
            cursor: pointer;
            > a{
                text-decoration: none;
            }
            &:hover {
                background-color:rgba(0, 0, 0, .85);
                > a {
                    color:#fff;

                }
            }
        }
    }
}
/* burger animated icon*/



#burger {
    display:none;
    user-select:none; 
    cursor: pointer;
    padding: 25px 12px;
    text-decoration:none;
    transition:color .3s ease-in-out;
  
  span {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background: #222;
    transition: all .2s ease-in-out;
    
    &:before, &:after {
      position: absolute;
      background: #222;
      content: '';
      width: 25px;
      height: 2px;
      transition: all .2s ease-in-out;
    }
    
    &:before {
      top: -8px;
    }
    
    &:after {
      top: 8px;
    }
  }
}

#burger.active {
  span {
    background: transparent;  
    
    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }
    
    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
} 

/* small screens */
@media screen and (max-width: 640px) {

    .header{
        min-height: 250vmin;
        overflow-y: hidden;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }

    nav[role="navigation"] {
        border: 1px #222 solid;
        position: absolute;;
        ul {
            display:none;
            height:100%;
        }
    
        #burger {
            position:relative;
            display:block;
            min-height:2.25em;
            font-size:1.1em;
            margin:5px;
        }

        
        input[type=checkbox]:checked ~ label:after {
            color:#222;
        }
            
        input[type=checkbox]:checked ~ ul {
          display:block;
          width: 100%;
            
          > li {
            width:100%;
            opacity:.8;
            text-align:left;
            &:hover::after{
                right: .25em;
                transition: all .5s ease-out ;
                color: #fff;
            }
            &:after {
              position:absolute;
              right:1.25em;
              content:"\203A";
              font: bold 1em sans-serif;
            }
          }        
        }
      }
    }


