doctype html
html(lang="uk")
    include _head.pug
    body
        include _header.pug
        h2 Frequently Asked Question
            script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")

            script(src="js/burger.js")
            script(src="js/ask.js")

            script(src='https://use.fontawesome.com/a0dc5e0abe.js')